@model UserModel

<h5>Contato de Usuários</h5>


<form asp-action="AddUser" asp-controller="Users" method="post" role="form">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" type="text" placeholder="Insira seu nome"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" type="email" placeholder="Insira seu email"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" type="email" placeholder="Insira seu email"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-control">
        <input type="submit" value="add"/>
    </div>

</form>
